.creerTheme{
    margin-top: 2em;
    text-align: center;
}

.formTheme{
    display: block;
    margin-left:auto;
    margin-right: auto;
    max-width: 90%;
}

.formCardTheme {

    justify-content: center;
    display: block;
    float: left;
    padding-bottom: 0px;
    min-width: 510px;
    max-width: 50%;
}

.formTheme .formCardTheme .textInputTheme {
    width: 70%;
    margin: auto;
    padding-bottom: 30px;
}

.formCardThemeChoixReferent {
    margin-top: 0px;
    text-align: left;
    display: block;
    float: left;
    min-width: 40%;
    max-width: 70%;
    margin-left: 2em;
}

.formCardThemeChoixReferent .CreerReferent{
    margin-left: 22px;
    padding-bottom: 30px;
}

.formTheme .submitTheme{
    display: block;
    width: 95px;






}

