.Theme{
    margin: 20px;
    text-align: center;
    display: inline-block;
}

@media screen and (max-width: 600px) {
    .Theme{
        width: calc(100% - 40px);
    }
}
@media screen and (min-width: 601px) and (max-width: 800px) {
    .Theme{
        width: calc(50% - 40px);
    }
}
@media screen and (min-width: 801px) and (max-width: 1100px) {
    .Theme{
        width: calc(33.33333333333% - 40px);
    }
}
@media screen and (min-width: 1101px) {
    .Theme{
        width: calc(25% - 40px);
    }
}

.snackBar {
    margin-bottom: 5em;
}